*{
font-size: 14px;
font-family: "Noto Sans";
transition: 100ms;
box-shadow: none !important;
border: none !important;
border-color: transparent !important;
}

.notification,
.notification-content,
.notification-row,
.notification-background {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  background: transparent !important;
}

/* Falls Hintergrundfarbe subtil bleibt, diese Zeile hinzufügen: */
.floating-notifications .notification-row,
.control-center .notification-row {
  background: transparent !important;
  box-shadow: none !important;
}

.control-center {
  /* Optional: Kontrollzentrum-Umrandung behalten */
  border: 2px solid #d9a66b;
  /* ... andere Eigenschaften wie gewünscht */
}

.control-center .notification-row .notification-background .notification box,
.control-center .notification-row .notification-background .notification widget,
.control-center .notification-row .notification-background .notification .notification-content,
.floating-notifications .notification-row .notification-background .notification box,
.floating-notifications .notification-row .notification-background .notification widget,
.floating-notifications.background .notification-background .notification .notification-content .notification-content image, {
 border-color: transparent;
 box-shadow: none !important;
  border: none;
  .notification {
    border: 0px transparent !important;
    border-color: transparent;
    box-shadow: none !important;;
  }
  .notification, .notification-content, .notification-row {
    border: none !important;
    box-shadow: none !important;
    border-color: transparent;
  }


}

.floating-notifications.background .notification-background .notification .notification-content,
.control-center .notification-background .notification .notification-content {
  /*  border-top: 1px solid rgba(164, 162, 167, 0.15);
   * border-left: 1px solid rgba(164, 162, 167, 0.15);
   * border-right: 1px solid rgba(128, 127, 132, 0.15);
   * border-bottom: 1px solid rgba(128, 127, 132, 0.15);*/
  padding: 0.818rem;
  padding-right: unset;
  margin-right: unset;
  box-shadow: none !important;
  border-color: transparent;
}

.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
  color: #c7c5d0;
  border-color: transparent;
  box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification..notification-content image,
.control-center .notification-row .notification-background .notification.normal .notification-content image,
.floating-notifications.background .notification-background .notification.low .notification-content image,
.floating-notifications.background .notification-background .notification.normal .notification-content image {
  border-radius: 1.5rem;
  border-color: transparent;
  box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification.low .notification-content .body,
.control-center .notification-row .notification-background .notification.normal .notification-content .body,
.floating-notifications.background .notification-background .notification.low .notification-content .body,
.floating-notifications.background .notification-background .notification.normal .notification-content .body {
  color: #d9a66b;
  border-color: transparent;
  box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
  border-radius: 1.5rem;
   color: #d9a66b;
   border-color: transparent;
   box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification.critical .notification-content image,
.floating-notifications.background .notification-background .notification.critical .notification-content image{
  color: #ffb4a9;
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
  border-color: transparent;
  box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification.critical .notification-content label,
.floating-notifications.background .notification-background .notification.critical .notification-content label {
  border-color: transparent;
  box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification .notification-content .summary,
.floating-notifications.background .notification-background .notification .notification-content .summary {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 0.9909rem;
  font-weight: 500;
  border-color: transparent;
  box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification .notification-content .time,
.floating-notifications.background .notification-background .notification .notification-content .time {
  font-family: 'Geist', 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', 'Ubuntu', sans-serif;
  font-size: 0.8291rem;
  font-weight: 500;
  margin-right: 1rem;
  padding-right: unset;
   color: #d9a66b;
   border-color: transparent;
   box-shadow: none !important;
}

.control-center .notification-row .notification-background .notification .notification-content .body,
.floating-notifications.background .notification-background .notification .notification-content .body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8891rem;
  font-weight: 400;
  margin-top: 0.310rem;
  padding-right: unset;
  margin-right: unset;
   color: #d9a66b;
   border-color: transparent;
   box-shadow: none !important;
}

.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
  background-color: unset;
  border-radius: 100%;
  box-shadow: none;
  margin-right: 13px;
  margin-top: 6px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
   color: #d9a66b;
}

.control-center .notification-row .close-button:hover,
.floating-notifications.background .close-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
   color: #d9a66b;
   box-shadow: none !important;
}

.control-center {
  border-top: 1px solid rgba(164, 162, 167, 0.19);
  border-left: 1px solid rgba(164, 162, 167, 0.19);
  border-right: 1px solid rgba(128, 127, 132, 0.145);
  border-bottom: 1px solid rgba(128, 127, 132, 0.145);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  background-color: #14141B;
  padding: 1.023rem;
  border: 2px solid #d9a66b;
   color: #d9a66b;
}

.control-center trough {
  min-width: 0.545rem;
  background-color: transparent;
   color: #d9a66b;
}

.control-center slider {
  min-width: 0.273rem;
  min-height: 2.045rem;
  background-color: rgba(199, 197, 208, 0.31);
}

.control-center slider:hover {
  background-color: rgba(199, 197, 208, 0.448);
}

.control-center slider:active {
  background-color: #77767e;
   color: #d9a66b;
}

/* title widget */

.widget-title {
  padding: 0.341rem;
  margin: unset;
}

.widget-title label {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1.364rem;
  color: #e4e1e6;
  margin-left: 0.941rem;
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
}

.widget-title button {
  border: unset;
  color: #e4e1e6;
  background-color: unset;
  padding: 0.141rem 0.141rem;
  margin-right: 0.841rem;
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
}

.widget-title button label {
  font-family: 'Gabarito', sans-serif;
  font-size: 1.0409rem;
  color: #e4e1e6;
  margin-right: 0.841rem;
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
}

.widget-title button:hover {
  background-color: rgba(199,199,199,0.08);
}

.widget-title button:active {
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 1.5rem;
  color: #e4e1e6;
}

/* Buttons widget */

.widget-buttons-grid {
  padding: 0.341rem;
  padding: unset;
  color: #d9a66b;
}

.widget-buttons-grid>flowbox {
  padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button:first-child {
  margin-left:unset ;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  border:none;
  color: #d9a66b;
  background-color: unset;
  border-radius: 9999px;
  min-width: 5.522rem;
  min-height: 2.927rem;
  padding: unset;
  margin: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-family: "Materials Symbol Rounded";
  font-size: 1.3027rem;
  color: #e4e1e6;
}



.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  /* OnePlus McClaren edition Orange accent */
  background-color: #ff9f34;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked label {
  color: #14141B;
}


/* Volume widget */

.widget-volume {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;
}

.widget-volume trough {
  /* OnePlus McClaren edition Orange accent */
  border:unset;
  background-color: rgba(128, 128, 128, 0.4);
}


.widget-volume trough slider {
  /* OnePlus McClaren edition Orange accent */
  color:unset;
  background-color: #ff9f34;
  border-radius: 100%;
  min-height: 1.25rem;
}


/* Mpris widget */
.widget-mpris {
  background-color: rgba(28, 28, 34, 0.25);
  border-radius: 1.5rem;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.15);
  padding: 16px;
  backdrop-filter: blur(7px); /* Weniger Blur */
}

.widget-mpris-player {
  border-radius: 1.5rem;
  padding: 12px;
  background: rgba(0,0,0,0.20);
  display: flex;
  align-items: center;
}

.widget-mpris-player image {
  border-radius: 1.2rem;
  object-fit: cover;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.01);
  margin-right: 18px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 2px;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
  color: #bbb;
}
