* {
border: none;
margin-top: 2px;
border-radius: 12px;
font-family: "JetBrains Mono", "SF Pro Rounded", sans-serif;
font-size: 12px;
min-height: 30px;
}


#workspaces {
background: #d9a66b;
color: #000000;
border-radius: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 15px;
border-radius: 12px;
padding-bottom: 3px;
}

#workspaces button {
background: transparent;
color: #000000;
border: none;
padding: 1px;
box-shadow: none;
}

#workspaces button:hover {
background: rgba(255, 255, 255, 0.05); /* leichtes Hover */
border-radius: 50%;
}

#workspaces button.active {
color: #000000; /* oder dein aktiver Farbton */
}
#custom-notification {
font-family: "JetBrains Mono", "SF Pro Rounded", sans-serif;
font-size: 12px;
margin-right: 15px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
border-color: #000000;
padding-right: 12px;
padding-left: 12px;
}

window#waybar {
    background: transparent;
    color: #f4e0c8;
}

#clock{
margin-left: 20px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
 border-color: #000000;
padding-right: 10px;
padding-left: 10px;
}
#custom-steam{
margin-left: 15px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
border-color: #000000;
padding-right: 10px;
padding-left: 10px;
}

#custom-cider-nowplaying{
margin-right: 15px;
margin-left: 15px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
border-color: #000000;
padding-right: 10px;
padding-left: 10px;
}


#pulseaudio,

#network {
margin-right: 15px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
border-color: #000000;
padding-right: 10px;
padding-left: 10px;
}

#custom-logout {
margin-right: 20px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
border-color: #000000;
padding-right: 12px;
padding-left: 12px;
}


#tray {
margin-right: 15px;
background: #d9a66b;
color: #2a1e14;
font-weight: bold;
border-width: 3px;
border-color: #000000;
padding-right: 10px;
padding-left: 10px;
}



